<h1>Compose a text message!</h1>
<br />

<%= form_for @message do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <div class="form-group">
   <%= f.label :from %>
   <%= f.text_field(:from, :value => "8605564067") %>
  </div>
  <div class="form-group">
   <%= f.label :to %>
   <%= f.text_field(:to, :value => "8603361346") %>
  </div>
  <br />
  <%= f.submit(:class => 'btn btn-primary') %>

 <% end %>